.A {
  color: white !important; 
  background: #DD4B39 !important;
}
.B {
  color: white !important; 
  background: #0073B7 !important;
}
.null {
  color: white !important; 
  background: #605CA8 !important;
}

#guess_A {
  border-color: #DD4B39 !important;
}
#guess_B {
  border-color: #0073B7 !important;
}
#guess_0 {
  border-color: #605CA8 !important;
}

#samplesBox, #esBox, #guessBox {
  min-width: 32%;
  display: inline-block;
}